#intro
{
	font-size: 20px;
	text-align: center;

}
#quizzes
{
	text-align:center;
	margin-bottom: 200px
}
#input
{
	text-align: center;
}
#welcomeMSG
{
	text-align: center;
}
#message
{	
	color: white;
}
#quiz
{
	padding: 30px;
	background-color: purple;
	color: white;
}
#quiz2
{
	padding: 30px;
	background-color: orange;
	color: white;
}